<%= provide(:title, "All Listings")%>
<%= render "layouts/flash" %>
<h1>All Listings</h1>
<% @listings.each do |listing| %>
<div class="container">
	<div class="row pull-right">
		<div class="col-md-12">
			<%= link_to "New Listing", new_listing_path, class:"btn btn-success" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<%= listing.name %>	
			</h2>
			<h3>
				<%= number_to_currency(listing.price) %>
			</h3>
			<p>
				<%= link_to "Show", listing_path(listing) %> |
				<%= link_to "Edit", edit_listing_path(listing) %> |
				<%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm:"Are you sure?"} %>
			</p>

		</div>
	</div>
</div>
<% end %>