<%= provide(:title, "All Listings")%>

<div class="container">
<%= render "layouts/flash" %>
<h1>All Listings<span class="pull-right"><%= link_to "New Listing", new_listing_path, class:"btn btn-sm btn-success" %></span></h1>
	<div class="center">
		<div class="row">
			<% @listings.each do |listing| %>
			  <div class="col-md-3">
			    <div class="thumbnail">
			      <%= link_to image_tag(listing.image.url), listing %>
			      <div class="caption">
			        <h3><%= listing.name %></h3>
			        <h4><%= number_to_currency(listing.price) %></h4>
			        <p><%= "Sold by #{listing.user.name}" %></p>
					<p>
						<% if (user_signed_in?) && (current_user == listing.user)%>
							<%= link_to "Edit", edit_listing_path(listing), class:"btn btn-link" %> 
							<%= link_to "Delete", listing_path(listing), class:"btn btn-link", method: :delete, data: {confirm:"Are you sure?"} %>
						<% end %>
					</p>
			      </div>
			    </div>
			  </div>
			<% end %>
		</div>
	</div>
</div>